{% extends 'base.html' %}

{% block content %}

<h1>О сайте</h1>

    <p><img src="../media/photos/2023/11/27/photo_2023-12-07_14-54-04.jpg" alt=""></p>
    <h>Добро пожаловать на моём первом проекте. Меня зовут Дегтярева Анна Владисировна.<br>Для первого
    проекта я выбрала тему "Позновательные статьи".<br>
    Физика и математика очень интересные науки. Особенно это относится к физике,
    ведь она изучает окружающий нас мир, который ещё пока полон загадок и тайн.
    Познавать эти тайны и узнавать новые интересные факты о мире вокруг нас очень занимательно.
    В этом разделе собраны различные научные, интересные и познавательные факты, которые помогут
    убедиться в особенной занимательности науки, полюбить физику и математику,
    а также отвлечься и развеяться во время трудоемкой и зачастую скучной подготовки к экзаменам.
    В моей работе сложные научные теории излагаются простым языком, понятным даже школьникам. </h>

<style>
    img {
        border-radius: 50px;
        height: 250px;
        width: 250px;
    }
</style>
{% endblock %}